body {
    overflow-y: hidden;
    background: url(./pexels-madison-inouye-1831234.jpg);
}

.ibb {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

h3 {
    text-align: center;
    position: relative;
    right: 100px;
    top: 10px;
}

p {
    text-align: center;
    font-size: 20px;
}

.all {
    margin: 80px auto;
    border: 2px dotted black;
    width: 400px;
    height: 250px;
    padding-top: 40px;
    border-radius: 10px;
}

.all:hover {
    box-shadow: 2px 2px 5px 5px rgb(188, 10, 207);
    transition: 1s;
    border: 2px solid black;
}

.btn1 {
    margin-left: 10px;
    height: 33px;
    background-color: rgb(5, 122, 224);
    border: none;
    color: whitesmoke;
    border-radius: 5px;
    margin-top: 6px;
}

.btn1:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    transition: 1s;
    font-size: 15px;
}

.btn2 {
    margin-left: 10px;
    height: 33px;
    background-color: rgb(5, 122, 224);
    border: none;
    color: whitesmoke;
    border-radius: 5px;
    width: 80px;
    margin-top: 6px;
}

.btn2:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    transition: 1s;
    font-size: 15px;
}

.inp {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    font-size: 20px;
}

.zic {
    margin-right: 50px;
    font-size: 50px;
    color: red;
}

.lim {
    margin-left: 50px;
    font-size: 50px;
    color: red;
}

.final {
    /* border-bottom: 2px solid red; */
    font-size: 20px;
    font-weight: bold;
}